//Colors
$mainColor: #001b2e;
$secondColor: #294c60;
$thirdColor: #acb5c3;
$fourthColor: #ffeed1;
$fifthColor: #ffc499;
$textColorLight: white;
$textColorDark: black;

//Fonts
$defaultFont: 'Roboto', sans-serif;