@import "./styles/stylereset.scss"; //Resets browsers settings to default
@import "./styles/variables.scss";

*
{
  box-sizing: border-box;
}

@media (max-width: 576px)  {
  .about-me-window{
    height: calc(100vh - ($navigatorHeight + 70px));
  }
  .about-me-nav{
    height: 70px;
  }
}
@media (min-width: 576px)  {
  .about-me-window{
    height: calc(100vh - ($navigatorHeight));
  }
}

.mainContainer{
  position: absolute;
  inset: $navigatorHeight 0 0 0;
  padding: 0px;
  width: 100%;
  height: calc(100vh - $navigatorHeight);
}

.navigationbar {
  font-size: large;
  background-color: $mainColor;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  height: $navigatorHeight;
  font-family: $defaultFont;
}

.navigationbar ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navigationbar ul li {
  margin: auto 0 auto 0;
}

.navigationbar ul li a {
  display: block;
  position: relative;
  text-align: center;
  text-decoration:none;
  color:#cec5c5;
  margin: auto 10px;
  transition:.5s;
  padding: 0.5rem;
}

.navigationbar ul li a span {
  position:absolute;
  transition: transform .5s;
}
.navigationbar ul li a span:nth-child(1),
.navigationbar ul li a span:nth-child(3){
  width:100%;
  height:2px;
  background:#404040;
}
.navigationbar ul li a span:nth-child(1) {
  top:0px;
  left:0px;
  transform-origin: right;
}
.navigationbar ul li a:hover span:nth-child(1),
.navigationbar ul li a.active span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}

.navigationbar ul li a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
.navigationbar ul li a:hover span:nth-child(3),
.navigationbar ul li a.active span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}

.navigationbar ul li a span:nth-child(2),
.navigationbar ul li a span:nth-child(4){
  width:2px;
  height:100%;
  background:#404040;
}
.navigationbar ul li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
.navigationbar ul li a:hover span:nth-child(2),
.navigationbar ul li a.active span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
.navigationbar ul li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
.navigationbar ul li a:hover span:nth-child(4),
.navigationbar ul li a.active span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}

.navigationbar svg {
  margin: 0px 5px;
}

.navigationbar .nav-text-content{
  display: none;
}

.container-fluid{
  bottom:0px;
  padding: 0px;
}

.row{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.about-me-window{
  overflow: auto;
}